<footer class="site-footer section-padding">
    <div class="container">
        <div class="row">

            <div class="col-lg-3 col-12 mb-4 pb-2">
                <a class="navbar-brand mb-2" href="/">
                    <i class="bi-back"></i>
                    <span>ASL Detection</span>
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <h6 class="site-footer-title mb-3">Resources</h6>

                <ul class="site-footer-links">
                    <li class="site-footer-link-item">
                        <a href="/" class="site-footer-link">Home</a>
                    </li>

                    <li class="site-footer-link-item">
                        <a href="/about" class="site-footer-link">About Us</a>
                    </li>

                    <li class="site-footer-link-item">
                        <a href="index.html#section_3" class="site-footer-link">ASL Tool</a>
                    </li>

                    <li class="site-footer-link-item">
                        <a href="index.html#section_4" class="site-footer-link">Technology</a>
                    </li>
                    <li class="site-footer-link-item">
                        <a href="/contact-us" class="site-footer-link">Contact</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-4 col-6 mb-4 mb-lg-0">
                <h6 class="site-footer-title mb-3">Information</h6>

                <p class="text-white d-flex mb-1">
                    <a href="tel: 305-240-9671" class="site-footer-link">
                        999-888-777
                    </a>
                </p>

                <p class="text-white d-flex">
                    <a href="mailto:info@company.com" class="site-footer-link">
                        asldectection@company.com
                    </a>
                </p>
            </div>

            <div class="col-lg-3 col-md-4 col-12 mt-4 mt-lg-0 ms-auto">

                <p class="copyright-text mt-lg-5 mt-4">Copyright © 2023 ASL Detection. All rights reserved.</p>
                
            </div>

        </div>
    </div>
</footer>