{% extends "base.html" %}
{% block title %}Register{% endblock %}

{% block content %}
<section class="hero-section justify-content-center align-items-center" id="section_1">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      {% for category, message in messages %}
      {% set alert_id = 'alert_' ~ loop.index %} {# Add unique ID for each alert #}
      <div class="alert alert-danger alert-dismissible fade show" role="alert" id="{{ alert_id }}">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"
          onclick="removeAlert('{{ alert_id }}')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
      <div class="card shadow">
        <div class="card-body">
          <h2 class="card-title text-center mb-4">Register</h2>
          <form method="POST" class="my-login-validation" novalidate="" id="registrationForm">
            <div class="mb-3">
              <label for="fullName" class="form-label">Full Name</label>
              <input type="text" class="form-control" id="fullName" name="name" required>
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <div class="mb-3">
              <label for="confirmPassword" class="form-label">Confirm Password</label>
              <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required>
            </div>
            <button type="submit" class="btn btn-primary w-100">Register</button>
          </form>
        </div>
      </div>
      <div class="text-center mt-3">
        <p style="color: #000;">Already have an account? <a href="{{url_for('login')}}">Log In</a></p>
      </div>
    </div>
  </div>
</section>
{% endblock %}