
{% extends 'imports.html' %}
{% block main %}

<main>
    {% include 'navbar.html' %}
    <section class="hero-section d-flex justify-content-center align-items-center" id="section_1">
        <div class="container">
            <div class="row">

                <div class="col-lg-8 col-12 mx-auto">
                    <h1 class="text-white text-center">Thank you for  ASL Detection</h1>

                    <h6 class="text-center text-white">We ARE TEAM VISION</h6>
                </div>
              
   

            </div>
        </div>
    </section>



</main>


{% include 'footer.html' %}

      
   



        {% endblock %}